:host {
  height: 100%;
  overflow: hidden;
}

.box {
  padding: 1em;
}

.library {
  height: 100%;
  overflow-y: hidden;
}

.library-wrapper {
  overflow-y: scroll;
  height: calc(100vh - 8.3em);
}

.library-container {
  padding: 0.5em;
  margin-top: 1em;
  overflow-y: scroll;

  position: relative;
  height: 100%;
}

.album-artist-label {
  color: white;
  font-size: 1.32em;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 6px 16px;
}

.caret-down {
  transform: rotate(90deg);
  display: inline-block;
}

.library-caption {
  display: inline-flex;
}

.library-caption > input {
  background: none;
  opacity: 0.7;
  font-size: 1.5em;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 0.6em;
  margin-left: 1em;
  font-weight: 300;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.clear-filter {
  color: rgba(255, 255, 255, 0.5) !important;
  margin-left: 1em;
  cursor: pointer;
}

.library-caption > input:focus {
  opacity: 1;
}

.albums {
  padding-left: 0.95em;
}

.album-grouping {
  overflow: hidden;
}
