:host {
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
  color: white;
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  display: grid;
  grid-template-columns: 16em 34em 2fr;
  grid-template-rows: 16em 2fr;
  grid-gap: 12px;
}

.cover {
  margin-left: 1em;
  margin-top: 1em;
  height: 16em;
  position: relative;
}

.cover > img {
  max-width: 100%;
  max-height: 100%;
  margin-left: 1em;
  margin-top: 1em;
}
.song-info {
  overflow: hidden;
  width: 100%;
  max-height: 25em;
}
.song-info > h1 {
  color: #fff;
  font-size: 1.5em !important;
  /*font-weight: 400;*/
  max-height: 2.2em;
  max-width: 25em;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;

  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}
.song-info > h2 {
  color: #fff;
  font-size: 1.2em !important;
  max-height: 2.2em;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;

  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}
.box {
  padding: 1em;
}

.library {
  grid-row: auto / span 2;
  padding-bottom: 0.6em !important;
  margin-top: 0.7em;
  margin-bottom: 1em;
  /*background-color: blue;*/
  overflow: hidden;
}

.library-caption > h2 {
  color: #fff;
  font-size: 1.5em !important;
  max-height: 2.2em;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.library-wrapper {
  overflow: hidden;
  position: relative;
  padding-bottom: 3em;
  height: 100%;
}

.library-container {
  padding: 0.5em;
  margin-top: 1em;
  overflow-y: scroll;

  position: relative;
  height: 100%;
}

.queue-wrapper {
  color: #fff;
  padding-bottom: 0.6em !important;
  grid-column: auto / span 2;
  overflow-y: hidden;
}

.queue {
  margin-left: 1em;
  overflow-y: auto;
}

.controls-visible {
  padding-bottom: 3em;
}

.album-artist-label {
  color: white;
  font-size: 1.32em;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 6px 16px;
}

.caret-down {
  transform: rotate(90deg);
  display: inline-block;
}

.library-caption {
  display: inline-flex;
}

.library-caption > input {
  background: none;
  opacity: 0.7;
  font-size: 1.5em;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 0.6em;
  margin-left: 1em;
  font-weight: 300;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.clear-filter {
  color: rgba(255, 255, 255, 0.5) !important;
  margin-left: 1em;
  cursor: pointer;
}

.library-caption > input:focus {
  opacity: 1;
}

.albums {
  padding-left: 0.95em;
}
