<div class="album-list-caption" *ngIf="songs && songs.length > 1 && !inLibraryView">{{ caption }}</div>

<div class="album-list-wrapper" *ngIf="inLibraryView || (songs && songs.length > 1 && currentSong)">
  <div *ngIf="albumViewOpen" class="album-view">
    <div class="back" (click)="closeAlbumView()"><h2>‹ Back</h2></div>
    <div class="album-info">
      <div class="album-view-img">
        <sd-cover [inLibraryView]="inLibraryView" *ngIf="album" [contrast]="contrast" [song]="album[0]" (showSongs)="albumOpen($event)"></sd-cover>
      </div>
      <div class="album-view-caption">
        <h2>{{ album[0].album_artist }}</h2>
        <h2>{{ album[0].album }} {{ album[0].date | year }}</h2>
        <h2>Tracks: {{ album.length }} - {{ albumDuration | formatDuration }}</h2>
      </div>
    </div>
    <div *ngFor="let song of album" class="album-list" [dragula]="'queue-container'">
      <div class="song-row" [ngClass]="{'selected': song.track === selected?.track &&
       song.file === selected?.file}"  (dblclick)="playTrack(song)" (click)="selectTrack(song)" [attr.data-file]="song.file">
        {{ song.track | trackNumber }} &nbsp; {{ song.title }}
        <span class="song-duration">{{ song.duration | formatDuration }}</span>
      </div>
    </div>
  </div>
  <div class="cards" *ngIf="inLibraryView">
    <div *ngFor="let song of songs; let i = index">
      <div class="cards-item" [ngClass]="{'cards-fixed': libraryView !== 'artists'}" *ngIf="!albumViewOpen || albumViewOpen.album !== song.album">
        <sd-cover [inLibraryView]="inLibraryView" [contrast]="contrast" [song]="song" (showSongs)="albumOpen($event)"></sd-cover>
      </div>
    </div>
  </div>
  <div *ngIf="!inLibraryView" class="cards">
    <div class="cards-item" *ngFor="let song of songs | filterDuplicate : currentSong.album : true">
      <sd-cover [inLibraryView]="inLibraryView" [song]="song" [contrast]="'low'"></sd-cover>
    </div>
  </div>
</div>
