:host {
  display: block;
  overflow: hidden;
  color: white;
}

.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 12px;
}

label {
  font-size: 1.2em;
}

label > input {
  line-height: 1.2em;
}
