<div class="controls-left box">
  <div class="btn btn-smaller" inlineSVG="assets/svg/search.svg" routerLink="/search" routerLinkActive="selected"></div>
  <div class="btn btn-smaller" inlineSVG="assets/svg/folder.svg" routerLink="/browse" routerLinkActive="selected"></div>
  <div class="btn btn-smaller" inlineSVG="assets/svg/album-track.svg" routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}"></div>
  <div class="btn btn-smaller" inlineSVG="assets/svg/note.svg" routerLink="/library" routerLinkActive="selected"></div>
  <div class="btn btn-smaller" inlineSVG="assets/svg/playlist.svg" routerLink="/playlists" routerLinkActive="selected"></div>
  <div class="btn btn-smaller" inlineSVG="assets/svg/settings.svg" routerLink="/settings" routerLinkActive="selected"></div>
</div>
