<div class="cover" *ngIf="song">
  <div *ngIf="showControls && mouseover" class="album-controls play-album">
    <div inlineSVG="assets/svg/media-playback-start.svg" (click)="playAlbum()"></div>
  </div>
  <div *ngIf="showControls && mouseover" class="album-controls queue-album">
    <div inlineSVG="assets/svg/list-add.svg" (click)="queueAlbum()"></div>
  </div>
  <!-- routerLink="/library/{{song.album_artist}}/{{song.album}}" -->
  <a (click)="toggleShowSongs()"><img [ngClass]="{'low-contrast':contrast === 'low', 'high-contrast':contrast === 'high'}" [src]="song?.file | getCoverUrl" onError="this.src='assets/jpg/placeholder.jpg';"></a>
</div>
