
<div class="background">
  <img class="background-image" [src]="currentSong?.file | getCoverUrl" onError="this.src='assets/placeholder.jpg';">
</div>

<div class="wrapper" [ngClass]="{'controls-visible': showControls}">
  <div class="box cover">
    <img [src]="currentSong?.file | getCoverUrl" onError="this.src='assets/placeholder.jpg';">
    <!-- <div class="album-controls">
      <img src="assets/svg/play.svg">
      <img src="assets/svg/insert.svg">
      <img src="assets/svg/insert-end.svg">
    </div> -->
  </div>
  <div class="box song-info">
    <h1>{{ currentSong?.title }}</h1>
    <h2>{{ currentSong?.artist }}</h2>
    <h2>{{ currentSong?.album }} {{ currentSong?.date | year }}</h2>
  </div>
  <div class="box album-list">
    <sd-album-list></sd-album-list>
  </div>
  <div class="box queue-wrapper">
    <sd-queue class="queue"></sd-queue>
  </div>
</div>
<sd-controls-bar [showControls]="showControls"></sd-controls-bar>
<!--
<sd-queue class="more"></sd-queue> -->
