.progress-container {
  height: 0.5em;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /*border-bottom: 1px solid #cecece;*/
  z-index: 1;
}

.progress-bar {
  bottom: 0;
  position: fixed !important;
  margin: 0 !important;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  /*background-color: rgba(61, 174, 233, 1);*/
  opacity: 1;
  height: 0.5em;
}

.control-bar {
  bottom: 0.5em;
  position: fixed !important;
  margin: 0 !important;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr 9em 1fr;
  /*background-color: red;*/
  width: 100%;
  height: 3em;
}

.controls-center {
  position: relative;
  display: inline-flex;
  height: 3em;
}

.controls-center > div {
  width: 3em;
  height: 3em;
  fill: white;
  fill-opacity: 0.4;
}

.controls-center > div:hover {
  cursor: pointer;
  fill: white;
  fill-opacity: 1;
}

.controls-right {
  display: inline-flex;
  justify-content: flex-end;
  float: right;
}

.controls-right > div:hover, .controls-right > span:hover {
  cursor: pointer;
}

.volume {
  display: inherit;
}

.volume-container {
  height: 1em;
  width: 6em;
  margin-top: 1em;
  margin-right: 0.5em;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /*border-bottom: 1px solid #cecece;*/
  z-index: 1;
}

.volume:hover > div > .volume-bar, .volume:hover > .volume-label {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.volume-bar {
  height: 1em;
  position: relative;
  margin: 0 !important;
  z-index: 2;
  background-color: white;
  opacity: 0.2;
}

.volume-label {
  color: rgba(255, 255, 255, 0.4);
  /*margin-left: 2em;*/
  margin-top: 1em;
  width: 3.5em;
}
