.control-bar {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: 1fr 9em 1fr;
  /*background-color: red;*/
  width: 100%;
  height: 3.5em;
  padding-top: 0.25em;
}

.controls-center {
  position: relative;
  display: inline-flex;
  height: 3em;
}

.controls-center > div {
  width: 3em;
  height: 3em;
  fill: white;
  fill-opacity: 0.4;
}

.btn {
  margin-top: 0.5em;
  width: 2em;
  height: 2em;
  fill: white;
  fill-opacity: 0.4;
}

.btn:focus {
  outline: none;
}

.btn-small.consume {
  padding: 0.4em;
}

.btn-small {
  padding: 0.2em;
}

.btn-smaller {
  padding: 0.3em;
}

.selected.consume {
  fill: yellow;
  fill-opacity: 0.6;
}

.selected.consume:hover {
  fill: yellow !important;
}

.selected {
  fill-opacity: 0.9;
}
