<div class="progress-container" (click)="seek($event)">
  <div class="progress-bar" [style.width]="percent+'%'"></div>
</div>

<div *ngIf="showControls" class="control-bar">
  <div class="controls-left box">
    <div class="btn btn-smaller" inlineSVG="assets/svg/search.svg" routerLink="/search" routerLinkActive="selected"></div>
    <div class="btn btn-smaller" inlineSVG="assets/svg/folder.svg" routerLink="/browse" routerLinkActive="selected"></div>
    <div class="btn btn-smaller" inlineSVG="assets/svg/album-track.svg" routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}"></div>
    <div class="btn btn-smaller" inlineSVG="assets/svg/note.svg" routerLink="/library" routerLinkActive="selected"></div>
    <div class="btn btn-smaller" inlineSVG="assets/svg/playlist.svg" routerLink="/playlists" routerLinkActive="selected"></div>
    <div class="btn btn-smaller" inlineSVG="assets/svg/settings.svg" routerLink="/settings" routerLinkActive="selected"></div>
  </div>
  <div class="controls-center">
      <div inlineSVG="assets/svg/media-skip-backward.svg" (click)="prevSong()"></div>
      <div *ngIf="playing" inlineSVG="assets/svg/media-playback-pause.svg" (click)="playPause()"></div>
      <div *ngIf="!playing" inlineSVG="assets/svg/media-playback-start.svg" (click)="playPause()"></div>
      <div inlineSVG="assets/svg/media-skip-forward.svg" (click)="nextSong()"></div>
  </div>
  <div class="controls-right box">
    <div class="btn btn-small" [ngClass]="{'selected': state?.repeat === 1}" inlineSVG="assets/svg/repeat.svg"
      (click)="toggleRepeat()"></div>
    <div class="btn btn-small" [ngClass]="{'selected': state?.single === 1}" inlineSVG="assets/svg/single.svg"
      (click)="toggleSingle()"></div>
    <div class="btn btn-small" [ngClass]="{'selected': state?.random === 1}" inlineSVG="assets/svg/shuffle.svg"
      (click)="toggleRandom()"></div>
    <div class="btn btn-small consume" [ngClass]="{'selected': state?.consume === 1}" inlineSVG="assets/svg/consume.svg"
     (click)="toggleConsume()"></div>
    <div class="volume">
      <div class="volume-container" (click)="setVolume($event)">
        <div class="volume-bar" [style.width]="volume+'%'"></div>
      </div>
      <span class="volume-label" (click)="toggleMute()"><span *ngIf="mute">-- %</span><span *ngIf="!mute">{{ volume }} %</span></span>
    </div>
  </div>
</div>
