:host {
  /*background-color: #106cc8;*/
  /*color: rgba(255, 255, 255, 0.87);*/

  display: block;

  overflow-y: auto;
  height: 100%;
}

.active {
  /*background: rgba(255, 255, 255, 0.2);*/
}

.play-indicator {
  display: inline-block;
  line-height: 1em;
}

.song-album-row {
  padding-left: 70px;
  font-size: 1.2em;
  /*border-bottom: 1px solid #eff0f1;*/
}

.album-row {
  padding: 6px 16px;
  font-size: 1.1em;
  font-weight: 400;
  border-bottom: 1px solid #cecece;
}

.cover {
  display: inherit;
  margin-left: -85px;
  margin-bottom: -2.8em;
  height: 57px;
  max-width: 57px;
}

.song-row {
  font-size: 1.1em;
  padding: 6px 16px;
}

.song-duration {
  float: right;
}

@media (max-device-width: 500px) {

  .song-row {
    font-size: 0.9em !important;
  }

  .album-row {
    font-size: 0.9em !important;
  }
}
