:host {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-style: normal;
  font-weight: 300;

  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.background {
  background-color: black;
  z-index: -1;
  transform: scale(1.1);
  -webkit-filter: blur(15px) brightness(0.3);
  -moz-filter: blur(15px) brightness(0.3);
  -o-filter: blur(15px) brightness(0.3);
  -ms-filter: blur(15px) brightness(0.3);
  filter: blur(15px) brightness(0.3);
  height: 100%;
  width: 100%;
}

.background > .background-image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
