.progress-container {
  position: absolute;
  height: 0.5em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /*border-bottom: 1px solid #cecece;*/
  z-index: 1;
}

.progress-bar {
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  /*background-color: rgba(61, 174, 233, 1);*/
  opacity: 1;
  height: 0.5em;
}

.progress-container:hover > .progress-bar {
  background: rgba(255, 255, 255, 1);
}
